{% extends 'backend/base.html' %}
{% load static %}


{% block title %}
    Create Blog | NGR
{% endblock title %}
    

    

{% block content %}
<div class="container-fluid">
<div class="content">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'blogs' %}">Blogs > </a>  </li>
            <li class="breadcrumb-item active ms-1"><a href="#"> Create Blog</a></li>
        </ol>
    </div>

    <div class="row blog_____area">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">



                            <div class="col-md-6">
                                <div class="form-group blog__title">
                                    <label class="col-form-label">Blog Title :</label>
                                    {{ form.heading }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Autor Name :</label>
                                    {{form.author}}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Autor Designation :</label>
                                    {{form.author_designation}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Blog Category :</label>
                                    {{form.category}}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">Tags <small>(separated with a comma)</small> </label>
                                    {{form.tags}}
                                </div>
                            </div>



                            

                            

                            <div class="col-md-6 mb-3 col-12">
                                <label class="col-form-label">Image :</label>
                                <img class="img__preview" id="img-preview" src="{% static 'images/upload.png' %}"/>
                                <div>
                                    {{form.image}}
                                </div>
                            </div>

                            <div class="col-md-12 mb-3 mt-3">
                                <label class="col-form-label" style="margin-top: -5px;">Blog Description :</label>
                                <div>
                                    {{form.content}}
                                </div>
                            </div>


                            <div class="col-md-6 mt-2">
                                <div class="form-group">
                                    <label class="col-form-label" style="margin-top: -5px;">Show on Homepage :</label>
                                    {{form.show_on_homepage}}
                                </div>
                            </div>
                            


                            <div class="col-md-12">
                                <ul class="radio-switch">
                                    <li class="radio-switch__item">
                                        <input class="radio-switch__input ri5-sr-only" type="radio" name="status" id="radio-1" value="active" {% if form.status.value == "active" %}checked{% endif %}>
                                        <label class="radio-switch__label" for="radio-1">Active</label>
                                    </li>
                                    <li class="radio-switch__item">
                                        <input class="radio-switch__input ri5-sr-only" type="radio" name="status" id="radio-2" value="inactive" {% if form.status.value == "inactive" %}checked{% endif %}>
                                        <label class="radio-switch__label" for="radio-2">Inactive</label>
                                        <div aria-hidden="true" class="radio-switch__marker"></div>
                                    </li>
                                </ul>
                            </div>


                                            
                            <div class="submit___btns">
                                <button type="submit">Create Blog</button>
                                <a href="{% url 'blogs' %}">Cancel</a>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
    
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.9.11/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "textarea#id_content",
        });
    </script>



    <script>
        //Change this to your no-image file
        let noimage =
        "{% static 'images/upload.png' %}";

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                $("#img-preview").attr("src", e.target.result);
                };

                reader.readAsDataURL(input.files[0]);


            } else {
                $("#img-preview").attr("src", noimage);
            }
        }

        var imgElement = document.getElementById('img-preview');
        imgElement.classList.add('object-contain');



    </script>


    <script>
        (function () {
        "use strict";

        // Plugin Constructor
        var TagsInput = function (opts) {
            this.options = Object.assign(TagsInput.defaults, opts);
            this.init();
        };

        // Initialize the plugin
        TagsInput.prototype.init = function (opts) {
            this.options = opts ? Object.assign(this.options, opts) : this.options;

            if (this.initialized) this.destroy();

            if (
            !(this.orignal_input = document.getElementById(this.options.selector))
            ) {
            console.error(
                "tags-input couldn't find an element with the specified ID"
            );
            return this;
            }

            this.arr = [];
            this.wrapper = document.createElement("div");
            this.input = document.createElement("input");
            init(this);
            initEvents(this);

            this.initialized = true;
            return this;
        };

        // Add Tags
        TagsInput.prototype.addTag = function (string) {
            if (this.anyErrors(string)) return;

            this.arr.push(string);
            var tagInput = this;

            var tag = document.createElement("span");
            tag.className = this.options.tagClass;
            tag.innerText = string;

            var closeIcon = document.createElement("a");
            closeIcon.innerHTML = "&times;";

            // delete the tag when icon is clicked
            closeIcon.addEventListener("click", function (e) {
            e.preventDefault();
            var tag = this.parentNode;

            for (var i = 0; i < tagInput.wrapper.childNodes.length; i++) {
                if (tagInput.wrapper.childNodes[i] == tag) tagInput.deleteTag(tag, i);
            }
            });

            tag.appendChild(closeIcon);
            this.wrapper.insertBefore(tag, this.input);
            this.orignal_input.value = this.arr.join(",");

            return this;
        };

        // Delete Tags
        TagsInput.prototype.deleteTag = function (tag, i) {
            tag.remove();
            this.arr.splice(i, 1);
            this.orignal_input.value = this.arr.join(",");
            return this;
        };

        // Make sure input string have no error with the plugin
        TagsInput.prototype.anyErrors = function (string) {
            if (this.options.max != null && this.arr.length >= this.options.max) {
            console.log("max tags limit reached");
            return true;
            }

            if (!this.options.duplicate && this.arr.indexOf(string) != -1) {
            console.log('duplicate found " ' + string + ' " ');
            return true;
            }

            return false;
        };

        // Add tags programmatically
        TagsInput.prototype.addData = function (array) {
            var plugin = this;

            array.forEach(function (string) {
            plugin.addTag(string);
            });
            return this;
        };

        // Get the Input String
        TagsInput.prototype.getInputString = function () {
            return this.arr.join(",");
        };

        // destroy the plugin
        TagsInput.prototype.destroy = function () {
            this.orignal_input.removeAttribute("hidden");

            delete this.orignal_input;
            var self = this;

            Object.keys(this).forEach(function (key) {
            if (self[key] instanceof HTMLElement) self[key].remove();

            if (key != "options") delete self[key];
            });

            this.initialized = false;
        };

        // Private function to initialize the tag input plugin
        function init(tags) {
            tags.wrapper.append(tags.input);
            tags.wrapper.classList.add(tags.options.wrapperClass);
            tags.orignal_input.setAttribute("hidden", "true");
            tags.orignal_input.parentNode.insertBefore(
            tags.wrapper,
            tags.orignal_input
            );
        }

        // initialize the Events
        function initEvents(tags) {
            tags.wrapper.addEventListener("click", function () {
            tags.input.focus();
            });

            tags.input.addEventListener("keydown", function (e) {
            var str = tags.input.value.trim();

            if (!!~[9, 13, 188].indexOf(e.keyCode)) {
                e.preventDefault();
                tags.input.value = "";
                if (str != "") tags.addTag(str);
            }
            });
        }

        // Set All the Default Values
        TagsInput.defaults = {
            selector: "",
            wrapperClass: "tags-input-wrapper",
            tagClass: "tag",
            max: null,
            duplicate: false
        };

        window.TagsInput = TagsInput;
        })();

        var tagInput1 = new TagsInput({
        selector: "id_tags",
        duplicate: false,
        max: 20
        });

    </script>
{% endblock script %}
    
    