{% extends 'backend/base.html' %}
{% load static %}


{% block title %}
    Biotrexxa | Create Plan
{% endblock title %}
    



{% block content %}
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'departments' %}">Departments > </a>  </li>
                <li class="breadcrumb-item active ms-1"><a href="#"> Create Department</a></li>
            </ol>
        </div>
        <form method="post" class="row w-100 bg-white p-4" style="border-radius: 4px;" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label">Plan Title :</label>
                    {{ form.title }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label">Total Test Include :</label>
                    {{ form.total_test_include }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label">Price :</label>
                    {{ form.price }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label">Category :</label>
                    {{ form.category }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label">Is Online Payment Available :</label>
                    {{ form.is_online_payment_available }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label">Is Home Sample Collection :</label>
                    {{ form.is_home_sample_available }}
                </div>
            </div>




            <div class="col-md-6 mb-3 col-12">
                <label class="col-form-label">Image :</label>
                <img class="img__preview" id="img-preview" src="{% static 'images/upload.png' %}"/>
                <div>
                    {{form.image}}
                </div>
            </div>

            


            <div class="col-md-12 mb-3">
                <label class="col-form-label" style="margin-top: -5px;">Description :</label>
                <div>
                    {{form.description}}
                </div>
            </div>
           

            <div class="col-md-6">
                <ul class="radio-switch">
                    <li class="radio-switch__item">
                        <input class="radio-switch__input ri5-sr-only" type="radio" name="status" id="radio-1" value="active" {% if form.status.value == "active" %}checked{% endif %}>
                        <label class="radio-switch__label" for="radio-1">Active</label>
                    </li>
                    <li class="radio-switch__item">
                        <input class="radio-switch__input ri5-sr-only" type="radio" name="status" id="radio-2" value="inactive" {% if form.status.value == "inactive" %}checked{% endif %}>
                        <label class="radio-switch__label" for="radio-2">Inactive</label>
                        <div aria-hidden="true" class="radio-switch__marker"></div>
                    </li>
                </ul>
            </div>
            


            <div class="submit___btns">
                <button type="submit">Create Plan</button>
                <a href="{% url 'health_checkup_plans' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
    




{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.9.11/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "textarea#id_description",
    });
</script>



<script>
    //Change this to your no-image file
    let noimage =
    "{% static 'images/upload.png' %}";

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
            $("#img-preview").attr("src", e.target.result);
            };

            reader.readAsDataURL(input.files[0]);


        } else {
            $("#img-preview").attr("src", noimage);
        }
    }

    var imgElement = document.getElementById('img-preview');
    imgElement.classList.add('object-contain');



</script>

{% endblock script %}
    