{% extends "frontend/base.html" %}
{% load static %}



{% block title %}
    <title>Biotrexxa | About Page</title>
{% endblock title %}
    


{% block content %}

    <!-- Page Header Start -->
	<div class="page-header about-page-header bg-radius-section parallaxie">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<!-- Page Header Box Start -->
					<div class="page-header-box">
						<h1 class="text-anime-style-2" data-cursor="-opaque">About Us</h1>
						<nav class="wow fadeInUp">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">home </a></li>
								<li class="breadcrumb-item active" >/ about us</li>
							</ol>
						</nav>
					</div>
					<!-- Page Header Box End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

    <!-- Page About Us Section Start -->
    <div class="page-about-us bg-radius-section">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <!-- Page About Content Start -->
                    <div class="page-about-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">about us</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Precision, Innovation & Patient Care</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">Biotrexxa Global Health Caare is a next-generation healthcare and diagnostics provider, redefining patient care through cutting-edge molecular and AI-driven diagnostics. Beyond just a diagnostic lab or clinic, Biotrexxa is a one-stop healthcare solution, integrating specialist consultations, precision medicine, and advanced clinical services. </p>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">Driven by research-backed methodologies, Biotrexxa delivers accurate diagnoses, personalised treatment plans, and ethical, patient-focused care. Our expertise extends beyond routine testing to include NGS, molecular pathology, microbiome analysis, and AI-based diagnostics, ensuring early and precise disease detection</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Page About Content Btn Start -->
                        <div class="page-about-content-btn wow fadeInUp" data-wow-delay="1.25s">
                            <a href="{% url 'frontend_doctors' %}" class="btn-default"><span>Book an Appointment</span></a>
                        </div>
                        <!-- Page About Content Btn End -->
                    </div>
                    <!-- Page About Content End -->
                </div>

                <div class="col-lg-7">
                    <!-- Page About Images Start -->
                    <div class="page-about-image">
                        <!-- Page About Image Start -->
                        <div class="page-about-img-1">
                            <figure>
                                <img src="{% static 'frontend/images/page-about-bg-image.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- Page About Image End -->

                    </div>
                    <!-- Page About Image End -->
                </div>
            </div>
     
        </div>
    </div>
    <!-- Page About Us Section End -->


    <!-- Mission and Vision Content Start -->
    <section class="mission-vision-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mission-vision-content">
                        <h2>Our Mission and Vision</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="vision-box">
                                    <h3>Our Vision</h3>
                                    <p>To pioneer next-generation diagnostics by expanding molecular, AI-driven, and precision medicine solutions while strengthening collaborations for advanced healthcare.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mission-box">
                                    <h3>Our Mission</h3>
                                    <p>To revolutionise healthcare by integrating advanced diagnostics, personalised treatment, and ethical medical practices, delivering accuracy, trust, and innovation.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our Diagnostics Section Start -->
    <div class="our-rehabilitation bg-radius-section">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">diagnostics</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Research & Innovation in Diagnostics</h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Therapy Rehabilitation Item Start -->
                    <div class="therapy-rehabilitation-item wow fadeInUp">
                        <!-- Therapy Rehabilitation Image Start -->
                        <div class="therapy-rehabilitation-image">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'frontend/images/therapy-rehabilitation-img-1.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Therapy Rehabilitation Image End -->

                        <!-- Therapy Rehabilitation Header Start -->
                        <div class="therapy-rehabilitation-header">
                            <!-- Therapy Rehabilitation Content Start -->
                            <div class="therapy-rehabilitation-content">
                                <div class="therapy-rehabilitation-btn">
                                    <a href="#"><img src="{% static 'frontend/images/arrow-long-white.svg' %}" alt=""></a>
                                </div>
                                <div class="therapy-rehabilitation-title">
                                    <h3>Personalized medicine approaches</h3>
                                </div>
                            </div>
                            <!-- Therapy Rehabilitation Content End -->

                        </div>
                        <!-- Therapy Rehabilitation Header End -->

                        <!-- Therapy Rehabilitation Body Start -->
                        <div class="therapy-rehabilitation-body">
                            <!-- Therapy Rehabilitation List Start -->
                            <div class="therapy-rehabilitation-list">
                                <ul>
                                    <li>Tailored treatments</li>
                                    <li>Early disease detection</li>
                                    <li>Targeted therapies</li>
                                </ul>
                            </div>
                            <!-- Therapy Rehabilitation List End -->
                        </div>
                        <!-- Therapy Rehabilitation Body End -->
                    </div>
                    <!-- Therapy Rehabilitation Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Therapy Rehabilitation Item Start -->
                    <div class="therapy-rehabilitation-item wow fadeInUp" data-wow-delay="0.25s">
                        <!-- Therapy Rehabilitation Image Start -->
                        <div class="therapy-rehabilitation-image">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'frontend/images/therapy-rehabilitation-img-2.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Therapy Rehabilitation Image End -->

                        <!-- Therapy Rehabilitation Header Start -->
                        <div class="therapy-rehabilitation-header">
                            <!-- Therapy Rehabilitation Content Start -->
                            <div class="therapy-rehabilitation-content">
                                <div class="therapy-rehabilitation-btn">
                                    <a href="#"><img src="{% static 'frontend/images/arrow-long-white.svg' %}" alt=""></a>
                                </div>
                                <div class="therapy-rehabilitation-title">
                                    <h3>AI-Based Diagnostic Automation</h3>
                                </div>
                            </div>
                            <!-- Therapy Rehabilitation Content End -->

                        </div>
                        <!-- Therapy Rehabilitation Header End -->

                        <!-- Therapy Rehabilitation Body Start -->
                        <div class="therapy-rehabilitation-body">
                            <!-- Therapy Rehabilitation List Start -->
                            <div class="therapy-rehabilitation-list">
                                <ul>
                                    <li>Faster disease detection</li>
                                    <li>Automated analysis</li>
                                    <li>Smart lab workflows</li>
                                </ul>
                            </div>
                            <!-- Therapy Rehabilitation List End -->
                        </div>
                        <!-- Therapy Rehabilitation Body End -->
                    </div>
                    <!-- Therapy Rehabilitation Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Therapy Rehabilitation Item Start -->
                    <div class="therapy-rehabilitation-item wow fadeInUp" data-wow-delay="0.5s">
                        <!-- Therapy Rehabilitation Image Start -->
                        <div class="therapy-rehabilitation-image">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'frontend/images/therapy-rehabilitation-img-3.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Therapy Rehabilitation Image End -->

                        <!-- Therapy Rehabilitation Header Start -->
                        <div class="therapy-rehabilitation-header">
                            <!-- Therapy Rehabilitation Content Start -->
                            <div class="therapy-rehabilitation-content">
                                <div class="therapy-rehabilitation-btn">
                                    <a href="#"><img src="{% static 'frontend/images/arrow-long-white.svg' %}" alt=""></a>
                                </div>
                                <div class="therapy-rehabilitation-title">
                                    <h3>Microbiome Analysis in Diagnostics</h3>
                                </div>
                            </div>
                            <!-- Therapy Rehabilitation Content End -->


                        </div>
                        <!-- Therapy Rehabilitation Header End -->

                        <!-- Therapy Rehabilitation Body Start -->
                        <div class="therapy-rehabilitation-body">
                            <!-- Therapy Rehabilitation List Start -->
                            <div class="therapy-rehabilitation-list">
                                <ul>
                                    <li>Gut health insights</li>
                                    <li>Personalised treatments</li>
                                    <li>Biomarkers for chronic conditions.</li>
                                </ul>
                            </div>
                            <!-- Therapy Rehabilitation List End -->
                        </div>
                        <!-- Therapy Rehabilitation Body End -->
                    </div>
                    <!-- Therapy Rehabilitation Item End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Diagnostics Section End -->





    <!-- Our Testimonials Section Start -->
    <div class="our-testimonial bg-radius-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="testimonial-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">patient feedback</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Patient Testimonials</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">At Biotrexxa, we excel in delivering top-notch diagnostic services that yield precise outcomes. See what our patients say about their experiences.</p>
                        </div>
                        <!-- Section Title End -->
                    </div>
                </div>

                <div class="col-lg-7">
                    <!-- Testimonial Slider Start -->
                    <div class="testimonial-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper" data-cursor-text="Drag">
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-header">
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <div class="testimonial-content">
                                                <p>Biotrexxa’s quick scans gave me clear answers about my recovery. The tailored diagnostic approach was outstanding.</p>									
                                            </div>
                                        </div>
                                        <div class="testimonial-body">       
                                            <div class="author-content">
                                                <h3>Harish Reddy</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-header">
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <div class="testimonial-content">
                                                <p>I’ve visited many labs, but Biotrexxa stands out. Their team is expert, efficient, and truly focused on patient needs.</p>	
                                            </div>
                                        </div>
                                        <div class="testimonial-body">
        
                                            <div class="author-content">
                                                <h3>Anurag</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->

                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-header">
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <div class="testimonial-content">
                                                <p>Biotrexxa’s precise imaging after my fall was a lifesaver for me. Post-injury, I got clarity and could resume work fast.</p>	
                                            </div>
                                        </div>
                                        <div class="testimonial-body">          
                                            <div class="author-content">
                                                <h3>Kavitha</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->


                            </div>
                            <div class="testimonial-btn">
                                <div class="testimonial-button-prev"></div>
                                <div class="testimonial-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Slider End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Testimonials Section End -->


    <!-- Diagnostic Team Section Start -->
    <div class="therapist-team about-therapist-team bg-radius-section">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Our Team of Experts</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section-btn wow fadeInUp">
                        <a href="{% url 'frontend_doctors' %}" class="btn-default"><span>meet Doctors</span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for x in doctors %}                    
                    <div class="col-lg-3 col-md-6">
                        <!-- Team Member Item Start -->
                        <div class="team-member-item wow fadeInUp">
                            <!-- Team Image Start -->
                            <div class="team-image">
                                <figure class="image-anime">
                                    <img src="{{x.photo.url}}" alt="">
                                </figure>
                    
                                <!-- Team Social Icon Start -->
                                <div class="team-social-icon">
                                    <div class="header-btn d-inline-flex">
                                        <a href="{% url 'frontend_doctor' x.slug %}" class="btn-default doctor"><span>Book Appointment</span></a>
                                    </div>
                                </div>
                                <!-- Team Social Icon End -->
                            </div>
                            <!-- Team Image End -->
                    
                            <!-- Team Content Start -->
                            <div class="team-content">
                                <h3>dr. {{x.name}}</h3>
                                <p>{{x.designation}}</p>
                            </div>
                            <!-- Team Content End -->
                        </div>
                        <!-- Team Member Item End -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Diagnostic Team Section End -->




    <div class="cta-box bg-radius-section parallaxie">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box-content">
                        <div class="section-title">
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Schedule Your Visit for Trusted Diagnostic Care</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">Quick, reliable results and expert care- because early detection makes all the difference. </p>
                        </div>
                        <div class="section-btn wow fadeInUp" data-wow-delay="0.5s">
                            <a href="{% url 'frontend_doctors' %}" class="btn-default"><span>Book an Appointment</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}




{% block script %}
<script>
    document.getElementById('about___linik').classList.add('active')
</script>
{% endblock script %}
    