{% extends "frontend/base.html" %}
{% load static %}



{% block title %}
    <title>Biotrexa | Blogs</title>
{% endblock title %}
    


{% block content %}
    <!-- Page Header Start -->
	<div class="page-header blog-page-header bg-radius-section parallaxie">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<!-- Page Header Box Start -->
					<div class="page-header-box">
						<h1 class="text-anime-style-2" data-cursor="-opaque">Our Latest Blogs</h1>
						<nav class="wow fadeInUp">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">home</a></li>
								<li class="breadcrumb-item active" aria-current="page"> / blog</li>
							</ol>
						</nav>
					</div>
					<!-- Page Header Box End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

    <!-- Page Blog Start -->
    <div class="page-blog bg-radius-section">
        <div class="container">
            <div class="row">
                
                {% for x in blogs %}                    
                <div class="col-lg-4 col-md-6">
                    <!-- Blog Item Start -->
                    <div class="blog-item wow fadeInUp">
                        <!-- Post Featured Image Start-->
                        <div class="post-featured-image">
                            <figure>
                                <a href="{% url 'blog' x.slug %}" class="image-anime" data-cursor-text="View">
                                    <img src="{{x.image.url}}" alt="">
                                </a>
                            </figure>
                            <div class="post-tags">
                                <a href="{% url 'blog' x.slug %}">{{x.category}}</a>
                            </div>
                        </div>
                        <!-- Post Featured Image End -->

                        <!-- post Item Content Start -->
                        <div class="post-item-content">
                            <!-- Article Meta Start -->
                            <div class="article-meta">
                                <ul>
                                    <li><a href="{% url 'blog' x.slug %}">{{x.created_at}}</a></li>
                                </ul>
                            </div>
                            <!-- Article Meta End -->

                            <!-- post Item Body Start -->
                            <div class="post-item-body">
                                <h2><a href="{% url 'blog' x.slug %}">{{x.heading}}</a></h2>
                            </div>
                            <!-- Post Item Body End-->

                            <!-- Post Item Footer Start-->
                            <div class="post-item-footer">
                                <a href="{% url 'blog' x.slug %}" class="readmore-btn">read more</a>
                            </div>
                            <!-- Post Item Footer End-->
                        </div>
                        <!-- post Item Content End -->
                    </div>
                    <!-- Blog Item End -->
                </div>
                {% endfor %}
                    


            </div>
        </div>
    </div>
    <!-- Page Blog End -->
{% endblock content %}