{% extends "frontend/base.html" %}
{% load static %}



{% block title %}
    <title>Biotrexxa | Contact Us</title>
{% endblock title %}
    


{% block content %}
    <!-- Page Header Start -->
	<div class="page-header contact-page-header bg-radius-section parallaxie">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<!-- Page Header Box Start -->
					<div class="page-header-box">
						<h1 class="text-anime-style-2" data-cursor="-opaque">Contact Us</h1>
						<nav class="wow fadeInUp">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">home</a></li>
								<li class="breadcrumb-item active" aria-current="page">contact us</li>
							</ol>
						</nav>
					</div>
					<!-- Page Header Box End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

    <!-- Page Contact Us Start -->
    <div class="page-contact-us bg-radius-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Contact Information Start -->
                    <div class="contact-information">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Contact Us</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Get In Touch</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">Feel free to contact us for inquiries, appointments, or more information on our diagnostic services.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Contact Information List Start -->
                        <div class="contact-info-list wow fadeInUp" data-wow-delay="0.5s">
                            <p>care@biotrexxa.com</p>
                            <p>+91 9916799135</p>
                            <a href="#" class="support-btn">contact support</a>
                        </div>
                        <!-- Contact Information List End -->

                        <div class="contact-information-box">
                            <div class="contact-info-item wow fadeInUp" data-wow-delay="0.75s">
                                <div class="icon-box">
                                    <img src="{% static 'frontend/images/icon-location-blue.svg' %}" alt="">
                                </div>
                                <div class="contact-info-content">
                                    <h3> Biotrexxa Global Health Caare Private Limited</h3>
                                    <p>No, 468, Sy Nom 11/4, Byrathi Bidarahalli hobli, Kothanur, Bangalore North, Bangalore - 560077, Karnataka</p>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- Contact Information End -->
                </div>

                <div class="col-lg-6">
                    <!-- Contact Form Start -->
                    <div class="contact-us-form">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Contact Us</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">Feel free to contact us for inquiries, appointments, or more information on our diagnostic services.</p>
                        </div>
                        <!-- Section Title End -->

                        <form id="contact-form"  method="POST" class="wow fadeInUp" data-wow-delay="0.5s">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-12 mb-4">
                                    <input type="text" id="fullname" class="form-control" name="name" placeholder="Full Name" required>
                                </div>


                                <div class="form-group col-md-12 mb-4">
                                    <input type="email" name ="email" class="form-control" id="email" placeholder="Email" required>
                                </div>

                                <div class="form-group col-md-12 mb-4">
                                    <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone No" required>
                                </div>

                                <div class="form-group col-md-12 mb-4">
                                    <textarea id="message" class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                                </div>

                                <div class="col-lg-12">
                                    <div class="contact-form-btn">
                                        <button  id="submit-button" type="submit" class="btn-default"><span>submit now</span></button>
                                        <div id="msgSubmit" class="h3 hidden"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Contact Form End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Contact Us End -->

    <!-- Google Map Start -->
	<div class="google-map bg-radius-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Google Map Iframe Start -->
                    <div class="google-map-iframe">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96737.10562045308!2d-74.08535042841811!3d40.739265258395164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1703158537552!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <!-- Google Map Iframe End -->
                </div>
            </div>
        </div>
    </div>
	<!-- Google Map End -->


{% endblock content %}




{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    console.log("data", document.getElementById('contact-form'));
    document.getElementById('contact-form').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent the default form submission
        console.log("Form submission intercepted");

        const formData = new FormData(this);
        const data = {
            name: formData.get('name').trim(),
            email: formData.get('email').trim(),
            phone_number: formData.get('phone').trim(),
            content: formData.get('message').trim(),
        };

        console.log('Data to be sent:', data);

        const submitButton = document.getElementById('submit-button');
        submitButton.querySelector('span').textContent = 'Sending...'
        submitButton.disabled = true;

        fetch('{% url "contact" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
            body: JSON.stringify(data),
        })
        .then(async response => {
            const responseData = await response.json(); // Await the JSON parsing
            console.log("Response", responseData);
            if (responseData.success) {
                swal('Success', 'Message sent successfully!', 'success');
                this.reset(); // Clear the form after success
            } else {
                console.error('Error data:', responseData.errors);
                swal('Error', 'An error occurred. Please check your input and try again.', 'error');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            swal('Error', 'An unexpected error occurred. Please try again later.', 'error');
        })
        .finally(() => {
            submitButton.querySelector('span').textContent = 'Send Message'
            submitButton.disabled = false;
        });
    });
</script>

<script>
    document.getElementById('contact___link').classList.add('active')
</script>
{% endblock script %}
    


