{% extends "frontend/base.html" %}
{% load static %}
{% load text_filters %}



{% block title %}
    <title>Biotrexxa | Home Page</title>
{% endblock title %}
    


{% block content %}
<!-- Hero Section Start -->
<div class="hero hero-slider-layout bg-radius-section">
    <div class="swiper">
        <div class="swiper-wrapper">
            <!-- Hero Slide Start -->


            
            {% for x in banners %}                
                <div class="swiper-slide">
                    <div class="hero-slide">
                        <!-- Slider Image Start -->
                        <div class="d-md-block d-none hero-slider-image">
                            <img src="{{x.image_for_desktop.url}}" alt="">
                        </div>
                        <div class="d-md-none d-block hero-slider-image">
                            <img src="{{x.image_for_mobile.url}}" alt="">
                        </div>
                        <!-- Slider Image End -->

                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-7">
                                    <!-- Hero Content Start -->
                                    <div class="hero-content">
                                        <!-- Section Title Start -->
                                        <div class="section-title">
                                            <h1 class="text-anime-style-3" data-cursor="-opaque">{{x.heading}}</h1>
                                            <p class="wow fadeInUp" data-wow-delay="0.25s">{{x.description}}</p>
                                        </div>
                                        <!-- Section Title End -->
                                
                                        <!-- Hero Content Body Start -->
                                        <div class="hero-content-body wow fadeInUp" data-wow-delay="0.5s">
                                            <a href="{{x.button_url}}" class="btn-default"><span>{{x.button_text}}</span></a>
                                        </div>
                                        <!-- Hero Content Body End -->
                                    </div>
                                    <!-- Hero Content End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero Slide End -->
            {% endfor %}
                

        </div>
        <div class="hero-pagination"></div>
    </div>		
</div>
<!-- Hero Section End -->
 
<!-- Our Benefits Secton Start -->
<div class="our-benefits bg-radius-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- Benefits Item Start -->
                <div class="benefits-item wow fadeInUp">
                    <div class="icon-box">
                        <img src="{% static 'frontend/images/ai.png' %}" alt="">
                    </div>
                    <div class="benefits-content">
                        <h3>AI Driven Diagnostics</h3>
                    </div>
                </div>
                <!-- Benefits Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Benefits Item Start -->
                <div class="benefits-item wow fadeInUp" data-wow-delay="0.25s">
                    <div class="icon-box">
                        <img src="{% static 'frontend/images/doctor.png' %}" alt="">
                    </div>
                    <div class="benefits-content">
                        <h3>Expert Consultation</h3>
                    </div>
                </div>
                <!-- Benefits Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Benefits Item Start -->
                <div class="benefits-item wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon-box">
                        <img src="{% static 'frontend/images/day.png' %}" alt="">
                    </div>
                    <div class="benefits-content">
                        <h3>Daycare Services</h3>
                    </div>
                </div>
                <!-- Benefits Item End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Benefits Secton End -->

<!-- About Us Section Start -->
<div class="about-us bg-radius-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">about us</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Precision Diagnostics, Personalized Care</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.25s">Biotrexxa Global Health Caare is a comprehensive healthcare provider offering accurate and reliable diagnoses using state-of-the-art molecular and AI-driven diagnostic tools. As an emerging diagnostic centre in Bangalore, Biotrexxa is committed to delivering personalised treatment plans for every patient</p>
                    </div>
                    <!-- Section Title End -->
            
                    <!-- About Content Body Start -->
                    <div class="about-content-body">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <!-- About Content List Start -->
                                <div class="about-content-list">
                                    <!-- About List Item Start -->
                                    <div class="about-list-item wow fadeInUp" data-wow-delay="0.5s">
                                        <div class="icon-box">
                                            <img src="{% static 'frontend/images/precise.png' %}" alt="">
                                        </div>
                                        <div class="about-list-content">
                                            <p>Precise Diagnosis</p>
                                        </div>
                                    </div>
                                    <!-- About List Item End -->
            
                                    <!-- About List Item Start -->
                                    <div class="about-list-item wow fadeInUp" data-wow-delay="0.75s">
                                        <div class="icon-box">
                                            <img src="{% static 'frontend/images/personalized.png' %}" alt="">
                                        </div>
                                        <div class="about-list-content">
                                            <p>Personalised Treatment</p>
                                        </div>
                                    </div>
                                    <!-- About List Item End -->
            
                                    <!-- About List Item Start -->
                                    <div class="about-list-item wow fadeInUp" data-wow-delay="1s">
                                        <div class="icon-box">
                                            <img src="{% static 'frontend/images/result.png' %}" alt="">
                                        </div>
                                        <div class="about-list-content">
                                            <p>rapid results</p>
                                        </div>
                                    </div>
                                    <!-- About List Item End -->
                                </div>
                                <!-- About Content List End -->
                            </div>
            
                        </div>
                    </div>
                    <!-- About Content Body End -->
            
                    <!-- About Content Footer Start -->
                    <div class="about-content-footer wow fadeInUp" data-wow-delay="1.25s">
                        <a href="{% url 'frontend_doctors' %}" class="btn-default"><span>Book an Appointment</span></a>
                    </div>
                    <!-- About Content Footer End -->
                </div>
            </div>

            <div class="col-lg-6">
                <!-- About Us Images Start -->
                <div class="about-us-images">
                    <div class="about-image img-box-1">
                        <figure class="image-anime">
                            <img src="{% static 'frontend/images/about-us-img-1.jpg' %}" alt="">
                        </figure>
                    </div>

                    <div class="about-image img-box-2">
                        <figure class="image-anime">
                            <img src="{% static 'frontend/images/about-us-img-2.jpg' %}" alt="">
                        </figure>
                    </div>

                    <div class="about-image img-box-3">
                        <figure class="image-anime">
                            <img src="{% static 'frontend/images/about-us-img-3.jpg' %}" alt="">
                        </figure>
                    </div>

                    <div class="about-image img-box-4">
                        <figure class="image-anime">
                            <img src="{% static 'frontend/images/about-us-img-4.jpg' %}" alt="">
                        </figure>
                    </div>

                    <div class="about-circle-logo">
                        <img src="{% static 'frontend/images/favicon.png' %}" alt="">
                    </div>
                </div>
                <!-- About Us Images End -->
            </div>
        </div>
    </div>
</div>
<!-- About Us Section End -->

<!-- Our Services Section Start -->
<div class="our-services bg-radius-section">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-8">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">services</h3>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">Our Services</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.25s">Biotrexxa Global Health Caare is a polyclinic and diagnostic laboratory offering a wide range of services.</p>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-4">
                <!-- Section Btn Start -->
                <div class="section-btn wow fadeInUp">
                    <a href="{% url 'frontend_doctors' %}" class="btn-default"><span>make an appointment</span></a>
                </div>
                <!-- Section Btn End -->
            </div>
        </div>

        <div class="row">
            

            {% for x in departments %}                        
                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp">
                        <!-- Service Item Image Start -->
                        <div class="service-item-image">
                            <figure>
                                <a href="{% url 'service' x.slug %}">
                                    <img src="{{x.banner.url}}" alt="">
                                </a>
                            </figure>
                        </div>
                        <!-- Service Item Image End -->


                        <!-- Service Body Start -->
                        <div class="service-body">
                            <!-- Service Content Start -->
                            <!-- Service Btn Start -->
                            <div class="mb-4 service-btn">
                                <a href="{% url 'service' x.slug %}"><img src="{% static 'frontend/images/arrow-readmore-btn.svg' %}" alt=""></a>
                            </div>
                            <!-- Service Btn End -->
                            <div class="service-content">
                                <a href="{% url 'service' x.slug %}">
                                    <h3>{{x.title}}</h3>
                                    <p>{{ x.small_description|truncate_text:60 }}</p>
                                </a>
                            </div>
                            <!-- Service Content End -->


                        </div>
                        <!-- Service Body End -->
                    </div>
                    <!-- Service Item End -->
                </div>
            {% endfor %}


            <div class="col-lg-12">
                <!-- More Service Btn Start -->
                <div class="more-service-btn wow fadeInUp" data-wow-delay="1.5s">
                    <a href="{% url 'checkups' %}">Find Out More About our Services<img src="{% static 'frontend/images/arrow-long-white.svg' %}" alt=""></a>                      
                </div>
                <!-- More Service Btn End -->
            </div>
        </div>
    </div>
</div>

<div class="bg-section bg-radius-section"></div>
<!-- Our Services Section End -->


<!-- Care Diagnostics Section Start -->
<div class="care-rehabilitation bg-radius-section">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-8">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">facilities</h3>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">Our Facilities</h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-4">
                <!-- Section Btn Start -->
                <div class="section-btn wow fadeInUp">
                    <a href="{% url 'frontend_doctors' %}" class="btn-default"><span>Make an Appointment</span></a>
                </div>
                <!-- Section Btn End -->
            </div>
        </div>

        <div class="row">



            <div class="col-lg-3 col-md-4 col-6">
                <!-- Rehab Benefits Item Start -->
                <div class="rehab-benefits-item wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon-box">
                        <img src="{% static 'frontend/images/icon/doctor.png' %}" alt="">
                    </div>
                    <div class="rehab-benefits-content">
                        <h3>Minor OT</h3>
                    </div>
                </div>
                <!-- Rehab Benefits Item End -->
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <!-- Rehab Benefits Item Start -->
                <div class="rehab-benefits-item wow fadeInUp" data-wow-delay="0.75s">
                    <div class="icon-box">
                        <img src="{% static 'frontend/images/icon/medicine.png' %}" alt="">
                    </div>
                    <div class="rehab-benefits-content">
                        <h3>Pharmacy</h3>
                    </div>
                </div>
                <!-- Rehab Benefits Item End -->
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <!-- Rehab Benefits Item Start -->
                <div class="rehab-benefits-item wow fadeInUp" data-wow-delay="1s">
                    <div class="icon-box">
                        <img src="{% static 'frontend/images/icon/gymnast-diet.png' %}" alt="">
                    </div>
                    <div class="rehab-benefits-content">
                        <h3>Dietetics</h3>
                    </div>
                </div>
                <!-- Rehab Benefits Item End -->
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <!-- Rehab Benefits Item Start -->
                <div class="rehab-benefits-item wow fadeInUp" data-wow-delay="1.25s">
                    <div class="icon-box">
                        <img src="{% static 'frontend/images/icon/physical-therapy.png' %}" alt="">
                    </div>
                    <div class="rehab-benefits-content">
                        <h3>Physiotherapy</h3>
                    </div>
                </div>
                <!-- Rehab Benefits Item End -->
            </div>
        </div>
    </div>
</div>
<!-- Care Diagnostics Section End -->





<!-- Diagnostic Team Section Start -->
<div class="therapist-team bg-radius-section">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">diagnostic team</h3>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">Our Team of Experts</h2>
                </div>
                <!-- Section Title End -->
            </div>

        </div>

        <div class="row">

            
            {% for x in doctors %}                
                <div class="col-lg-3 col-md-6">
                    <!-- Team Member Item Start -->
                    <div class="team-member-item wow fadeInUp">
                        <!-- Team Image Start -->
                        <div class="team-image">
                            <figure class="image-anime">
                                <img src="{{x.photo.url}}" alt="">
                            </figure>
                
                            <!-- Team Social Icon Start -->
                            <div class="team-social-icon">
                                <div class="header-btn d-inline-flex">
                                    <a href="{% url 'frontend_doctor' x.slug %}" class="btn-default doctor"><span>Book Appointment</span></a>
                                </div>
                            </div>
                            <!-- Team Social Icon End -->
                        </div>
                        <!-- Team Image End -->
                
                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h3>dr. {{x.name}}</h3>
                            <p>{{x.designation}}</p>
                        </div>
                        <!-- Team Content End -->
                    </div>
                    <!-- Team Member Item End -->
                </div>
            {% endfor %}
                


            
        </div>
    </div>
</div>
<!-- Diagnostic Team Section End -->


<!-- Our Testimonials Section Start -->
<div class="our-testimonial bg-radius-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="testimonial-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">patient feedback</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Patient Testimonials</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.25s">At Biotrexxa, we excel in delivering top-notch diagnostic services that yield precise outcomes. See what our patients say about their experiences.</p>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="col-lg-7">
                <!-- Testimonial Slider Start -->
                <div class="testimonial-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper" data-cursor-text="Drag">
                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="testimonial-header">
                                        <div class="testimonial-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>Biotrexxa’s quick scans gave me clear answers about my recovery. The tailored diagnostic approach was outstanding.</p>									
                                        </div>
                                    </div>
                                    <div class="testimonial-body">       
                                        <div class="author-content">
                                            <h3>Harish Reddy</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Slide End -->
            
                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="testimonial-header">
                                        <div class="testimonial-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>I’ve visited many labs, but Biotrexxa stands out. Their team is expert, efficient, and truly focused on patient needs.</p>	
                                        </div>
                                    </div>
                                    <div class="testimonial-body">
      
                                        <div class="author-content">
                                            <h3>Anurag</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Slide End -->

                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="testimonial-header">
                                        <div class="testimonial-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>Biotrexxa’s precise imaging after my fall was a lifesaver for me. Post-injury, I got clarity and could resume work fast.</p>	
                                        </div>
                                    </div>
                                    <div class="testimonial-body">          
                                        <div class="author-content">
                                            <h3>Kavitha</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Slide End -->


                        </div>
                        <div class="testimonial-btn">
                            <div class="testimonial-button-prev"></div>
                            <div class="testimonial-button-next"></div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial Slider End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Testimonials Section End -->


<!-- Our Blog Section Start -->
<div class="our-blog bg-radius-section">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-8">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">Blogs</h3>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">Our Health Insights</h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-4">
                <div class="section-btn wow fadeInUp">
                    <a href="{% url 'frontend_blogs' %}" class="btn-default"><span>read all posts</span></a>
                </div>
            </div>
        </div>

        <div class="row">

            
            {% for x in blogs %}
                
                <div class="col-lg-4 col-md-6">
                    <!-- Blog Item Start -->
                    <div class="blog-item wow fadeInUp">
                        <!-- Post Featured Image Start-->
                        <div class="post-featured-image">
                            <figure>
                                <a href="{% url 'blog' x.slug %}" class="image-anime" data-cursor-text="View">
                                    <img src="{{x.image.url}}" alt="">
                                </a>
                            </figure>
                            <div class="post-tags">
                                <a href="{% url 'blog' x.slug %}">{{x.category}}</a>
                            </div>
                        </div>
                        <!-- Post Featured Image End -->

                        <!-- post Item Content Start -->
                        <div class="post-item-content">
                            <!-- Article Meta Start -->
                            <div class="article-meta">
                                <ul>
                                    <li><a href="{% url 'blog' x.slug %}">{{x.created_at}}</a></li>
                                </ul>
                            </div>
                            <!-- Article Meta End -->

                            <!-- post Item Body Start -->
                            <div class="post-item-body">
                                <h2><a href="{% url 'blog' x.slug %}">{{x.heading}}</a></h2>
                            </div>
                            <!-- Post Item Body End-->

                            <!-- Post Item Footer Start-->
                            <div class="post-item-footer">
                                <a href="{% url 'blog' x.slug %}" class="readmore-btn">read more</a>
                            </div>
                            <!-- Post Item Footer End-->
                            <!-- post Item Content End -->
                        </div>
                        <!-- Blog Item End -->
                    </div>
                </div>
            {% endfor %}
                


        </div>
    </div>
</div>
<!-- Our Blog End -->
{% endblock content %}




{% block script %}
    <script>
        document.getElementById('home___link').classList.add('active')
    </script>
{% endblock script %}
    